body{
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.container {
    max-width: 1980px;
}

.img_moscow{
    width: 100%;
    height: 100%;
}

.img_moscow_phone {
    display: none;
    width: 100%;
    height: 100%;
}

.form{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -32%;
    width: 100%;
}

.musicstart{
    padding: 14px 24px;
    border-radius: 20px;
    color: rgb(54, 54, 254);
    font-size: 16px;
    font-weight: 500;
}

.musicstart:hover{
    background-color: rgb(240, 240, 101);
}

p{
    font-size: 14px;
    color: white;
}

@media (max-width: 480px) {
    .container {
        min-width: 480px;
        min-height: 800px;
    }
    .img_moscow{
        display: none;
    }
    
    .img_moscow_phone {
        display: block;
    }
    .form{
        margin-top: -90%;
    }
}
