body{
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.img_moscow{
    width: 100%;
}

.form{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -35%;
}

.musicstart{
    padding: 14px 24px;
    border-radius: 20px;
    color: rgb(54, 54, 254);
    font-size: 16px;
    font-weight: 500;
}

.musicstart:hover{
    background-color: rgb(240, 240, 101);
}

p{
    font-size: 14px;
    color: white;
}

@media (max-width: 480px) {
    .musicstart{
    padding: 11px 18px;
    border-radius: 20px;
    font-size: 13px;
}
}